<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" ng-controller="appController" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/computer.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="css/alerts.css">
    <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://kit.fontawesome.com/80cb70815a.js" crossorigin="anonymous"></script>

    <div class="headerBox">


        <header class="header">
            <h1>USN</h1>
        </header>

    </div>

<header class="headerTest" style="">
    <div class="divTest" style="display: table; margin: 0 auto;">
        <ul class="ulTest" ng-init="pressed = false;">
            <li style="box-sizing: border-box;" class="nav-center" title="Home">
                <a href="#!/home">
                    <i id="icon" class="fas fa-home"></i>
                    <span ng-if="pressed">Home</span>
                </a>
            </li>

            <li style="box-sizing: border-box;" class="nav-center">
                <a href="#!/view1" style="margin-top: 4px; margin-bottom: 4px;">
                    <i id="icon1" class="fas fa-user"></i>
                    <span ng-if="pressed">View1</span>
                </a>
            </li >
            <li style="box-sizing: border-box;" class="nav-center">
                <a href="#!/view2" style="margin-top: 4px; margin-bottom: 4px;">
                    <i id="icon2" class="fas fa-comments"></i>
                    <span ng-if="pressed">view2</span>
                </a>
            </li>
            <li style="box-sizing: border-box;" class="nav-center">
                <a href="#!/vote" style="margin-top: 4px; margin-bottom: 4px; text-decoration: none;">
                    <i id="icon3" class="fas fa-vote-yea"></i>
                    <span ng-if="pressed">Vote</span>
                </a>
            </li>
            <li style="box-sizing: border-box;" class="nav-center">
                <a href="#!/login" style="margin-top: 4px; margin-bottom: 4px; text-decoration: none;">
                    <i id="icon4" class="fas fa-sign-in-alt"></i>
                    <span ng-if="pressed">Log in</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="nav-expand-button">
        <ul id="remove-phone" class="ulTest" style="bottom: -100px">
            <li style="vertical-align: bottom">
                <div ng-click="pressed = !pressed">
                    <i id="bigger" ng-if="pressed" class="fas fa-angle-left"></i>
                </div>
                <div ng-click="pressed = !pressed">
                    <i id="bigger1" ng-if="!pressed" class="fas fa-angle-right"></i>
                </div>
                <i ></i>
            </li>
        </ul>
    </div>
</header>
<div class="grid-container">



        <ul class="top5">
            <h3>Top 5 </h3>
            <li>
                <h3 class="h3">1</h3>
                <img class="top5bilder" src="https://i.pinimg.com/474x/67/c3/d6/67c3d63e215e034e01d45c8256d720d3.jpg">
            </li>

            <li>
                <h3 class="h3">2</h3>
                <img class="top5bilder" src="https://i.pinimg.com/474x/67/c3/d6/67c3d63e215e034e01d45c8256d720d3.jpg">
            </li>

            <li>
                <h3 class="h3">3</h3>
                <img  class="top5bilder" src="https://i.pinimg.com/474x/67/c3/d6/67c3d63e215e034e01d45c8256d720d3.jpg">
            </li>

            <li>
                <h3 class="h3">4</h3>
                <img class="top5bilder" src="https://i.pinimg.com/474x/67/c3/d6/67c3d63e215e034e01d45c8256d720d3.jpg">
            </li>

            <li>
                <h3 class="h3">5</h3>
                <img class="top5bilder" src="https://i.pinimg.com/474x/67/c3/d6/67c3d63e215e034e01d45c8256d720d3.jpg">
            </li>
        </ul>


</div>

    <footer class="footer"> <p> Footer </p></footer>
<body>
<div ng-view></div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-cookies/angular-cookies.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.js"></script>
<script src="app.js"></script>
<script src="home/home.js"></script>
<script src="vote/vote.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="login/login.js"></script>
<script src="registerUser/registerUser.js"></script>
<script src="element-directives/element-directives.js"></script>
<script src="core/version/version.js"></script>
<script src="core/version/version-directive.js"></script>
<script src="core/version/interpolate-filter.js"></script>
</body>
</html>
