:root {
    --footer: #41b3a3; /*footer */
    --header: white; /*header */
    --hovedside: white; /*main */
    --forms: #333333; /*forms and stuff */
  }

@media screen and (min-width: 992px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .nav-area {
        top: 0;
        height: 100px;
        width: 100vw;
    }

    .nav-center {
        margin: 15px;
    }
    .headerTest {
        max-width: 100px;
    }

    .ng-binding {
        margin-top: 150px;
    }

    a.button_small {
        min-width: 80px;
    }


 /*hjem icon i navbar*/
    #test:hover {
        color: darkslategrey;
    }
    /*tittel på hjemsiden*/
    .title-home {
        padding: 50px;
    }
    /*navbar buttons hover*/
    a.button_small:hover
    {
        border: 1px solid lightgrey;
    }


    /* ------------------- bilder -------------------------------*/


    .picture {
        background-image: url(https://g.acdn.no/obscura/API/dynamic/r1/ece5/tr_2000_2000_s_f/0000/gjen/2018/7/24/10/USN%2BVestfold_1.jpg?chk=1D5C81);
        width: 600px;
        height: 300px;
        background-size: cover;
        /*background-image: url(https://media.istockphoto.com/photos/mobile-phone-top-view-with-white-screen-picture-id1161116588?b=1&k=6&m=1161116588&s=170667a&w=0&h=sMbhMUwE4Ocu25-rV1D2J5Yjh0qz2CO6fciPNO-OBEA=);
        background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1063184564%2F960x0.jpg%3Ffit%3Dscale);
  */  }








    /*------------------------- NAVBAR ------------------------------*/

    .headerTest {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100px;
        z-index: 100;
        border-right: 2px solid whitesmoke;
    }

    .divTest {
        box-sizing: border-box;
        flex: 1 0 auto;
    }

    .ulTest {
        list-style: none;
        padding: 0px;
        display: flex;
        flex-flow: column;
        align-items: center;

    }
    .nav-center {
        padding-bottom: 10px;

    }
    #icon {
        font-size: 2rem ;
    }
    #icon1 {
        font-size: 2rem ;
    }

    #icon2 {
        font-size: 2rem ;
    }

    #icon3 {
        font-size: 2rem ;
    }

    #nav-expand-button {
        background-color: whitesmoke;
        color: black;
    }

    #bigger {
        padding: 15px;
        font-size: 1.5rem;
    }

    #bigger1 {
        padding: 15px;
        font-size: 1.5rem;
    }
    a {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-decoration: none;
    }

    a:visited {
        color: black;
    }


    span {

        margin-top: 15px;
        margin-left: 5px;
        border-radius: 5px;
        max-height: 50px;
        min-height: 50px;
        font-weight: bold;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        min-width: 54px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
    }

    .box1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }


}