:root {
    --footer: #41b3a3; /*footer */
    --header: #FF873A; /*header */
    --hovedside:#EBEDEF; /*main */
    --forms: #333333; /*forms and stuff */
  }

@media screen and (min-width: 992px) {

    .nav-area {


        top: 0;
        
        width: 100vw;
        height: 50px;
    }

    .ng-binding {
        margin-top: 50px;
    }

} 