:root {
    --footer: #41b3a3; /*footer */
    --header: white; /*header */
    --hovedside: white; /*main */
    --forms: #333333; /*forms and stuff */
  }

@media screen and (min-width: 992px) {

    .nav-area {
        top: 0;
        height: 100px;
        width: 100vw;
    }

    .ng-binding {
        margin-top: 150px;
    }

    a.button_small {
        min-width: 80px;
    }


 /*hjem icon i navbar*/
    #test:hover {
        color: darkslategrey;
    }
    /*tittel på hjemsiden*/
    .title-home {
        padding: 50px;
    }
    /*navbar buttons hover*/
    a.button_small:hover
    {
        border: 2px solid lightgrey;
    }

 /*slideshow str desktop*/
    .card {
        max-width: 700px;
        max-height: 400px;
    }

} 