<div class="grid-container" ng-controller="VoteCtrl">
    <div class="box1">

        <h1 class="title-vote">Her kan du stemme på den kandidaten du mener fortjener å vinne USN sitt skolevalg 2021</h1>

        <div class="box7">
            <ul id="border" class="vote-box" ng-repeat="nominee in nominatedUser">
                <li>{{ nominee.email }}</li>
                <li>{{ nominee.name }}</li>
                <button onclick="removeBorder()" class="vote-btn" ng-click="nominatePerson(user.id)">Stem på kandidat</button>
            </ul>
        </div>
    </div>
</div>