<div class="grid-container" ng-controller="VoteCtrl">
  <div class="box1">

    <h1 class="title-vote">Nominering</h1>
  <div class="box6">
    <div class="vote-box">
    <h1>Foreslå en ny kandidat!</h1>

    <input type="text">

    <buttton class="vote-btn"> Foreslå kandidat</buttton>
    </div>
  </div>
    <div class="box7">
      <ul class="vote-box" ng-repeat="user in users">
        <li>{{ user.fname }}</li>
        <li>{{ user.lname }}</li>
        <li>{{ user.gender }}</li>
        <li>{{ user.fDate }}</li>
        <button class="vote-btn" ng-click="nominatePerson(user.id)">Nominer kandidtat</button>
      </ul>
    </div>
  </div>
</div>