<div ng-controller="View1Ctrl">
    <div class="grid-container">
        <div class="box1">
             <h1 class="title-home">Velkommen {{$root.user.name}}</h1>

        </div>

        <div class="box7">

        <div class="box9">
            <button class="minside-btn1" ng-click="withdrawFromElection($root.user.id)">Trekk fra valg</button>
            <button class="minside-btn1" ng-click="createNewElection()" ng-if="($root.user.userType.userTypeId === 3)">Start nytt valg</button>
            <button class="minside-btn1" ng-if="($root.user.userType.userTypeId === 2)">Start kontroll av valg</button>
        </div>

        <div class="box9">
            <img class="img-center" ng-src="{{$root.user.picture}}" alt="Profile Picture">
            <h3>Navn: {{$root.user.name}}</h3>
            <h3>Brukertype: {{$root.user.userType.userTypeDesc}}</h3>
            <h3>Epost: {{$root.user.email}}</h3>
        </div>
        </div>

    </div>
</div>